<header class="bright">
    <div class="line"></div>
    <div class="logo">
        {% include logo.html %}
    </div>
    <div class="line flex"></div>
    <div class="menu">
        <ul class="top">
            <li><a href="#about" class="flex">About me</a></li>
            <li class="empty"></li>
            <li><a href="#instagram" class="flex">Instagram</a></li>
        </ul>
        <ul class="bottom">
            <li class="empty"></li>
            <li><a href="#portfolio" class="flex">Portfolio</a></li>
            <li class="empty"></li>
        </ul>
    </div>
    <div class="line"></div>
</header>
