#about {
  background:  url('../img/IMG_3268.jpg') bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#portfolio {
  background:  url('../img/gpnovprp0s8-saksham-gangwar.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#instagram {
  background:  url('../img/vlbcgvydrrs-joel-peel.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}