@font-face {
  font-family: 'LemonMilk';
  src: url('../font/LemonMilk.otf');
}

@font-face {
  font-family: 'TypoGraphica';
  src: url('../font/TypoGraphica.otf');
}

@font-face {
  font-family: 'Adam';
  src: url('../font/Adam.otf');
}

@font-face {
  font-family: 'Porter';
  src: url('../font/PorterBold.ttf');
}

@font-face {
  font-family: 'Geometos';
  src: url('../font/Geometos.ttf');
}

@font-face {
  font-family: 'chubgothic';
  src: url('../font/chubgothic.ttf');
}

@font-face {
  font-family: 'Nova';
  src: url('../font/NOVABOLD.otf');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroy-extrabold-webfont.ttf');
}